
@media screen and (max-width:570px) {



    .menu__responsivo__controller {
        display: block;
        position: absolute;
        height: 70px;
        width: 70px;
        background-color: chocolate;
        bottom: var(--bootom-menu);
        right: var(--righ-menu);
        border-radius: 50%;
    }


    .menu__close {
        height: 55% !important;
    }

    .menu {
        grid-area: content;
        position: absolute;
        bottom: calc(var(--bootom-menu) + 70px);
        right: var(--righ-menu);
        overflow: hidden;
        height: 0%;
        transition: height 0.5s linear;
        border-radius: 35px;
        background-color: transparent;
    }
    .menu__lista {
        flex-direction: column;
        justify-content: flex-end;

    }
    .menu__lista__item {
        height: auto;
        margin: 2px 0 2px 0;
    }
    .lista__item__icone {
        height: 70px;
        width: 70px;
        border-radius: 50%;
        
    }

    .lista__item__descricao {
        display: none;
    }


}
